<!DOCTYPE html><html lang=\"ru-ru\" dir=\"ltr\">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
<title>Политика конфиденциальности</title>
<style>
body {background:#eee}
form {margin:0}
.layout {background:#fff; width:940px; margin:1em auto; border:1px solid #ccc; padding:1em 2%}
h1 {color:#006dad; font-size:2.2em; text-align:center}
h2 {color:#444; font-size:1.8em; text-align:center}
h3 {color:#222; font-size:1.6em; text-align:center}
p {color:#333; padding:0 0 0.5em; font:1em Arial; line-height:150%}
</style>
</head>
<body><div class="layout">
    <H4>
Публичный договор-оферта
    </H4>
<h3>
    ПРЕАМБУЛА
</h3>

<p>1.1. Настоящий Договор-оферта регулирует взаимоотношения Продавца и Покупателя.</p>

<p>1.2. Продавец сохраняет за собой право изменять настоящий Договор.</p>

<p>1.3. Адрес действующей редакции настоящего Договора в сети интернет: https://lightvpn.ru</p>

<h3>ПРЕДМЕТ ДОГОВОРА</h3>

<p>2.1. Продавец обязуется предоставить Покупателю услуги, а Представитель обязуется придерживаться условий настоящего Договора.</p>

<h3>СТАТУС ИНТЕРНЕТ-СЕРВИСА lightvpn.ru</h3>

<p>3.1. Продавцом товаров и услуг, реализуемых через интернет-сайт lightvpn.ru, является ИП Трифонов Виталий Евгеньевич ОГРИП 318762700038101. Продукция и услуги через интернет-сайт, реализуются дистанционным способом.</p>

<p>3.2. Продавец не требует от Покупателя специальных действий для использования продукции сайта lightvpn.ru, таких как заключение договора на пользование сервисом.</p>

<p>3.3. Настоящий Договор является официальной офертой. Акцептом настоящей оферты является оплата заказанных Покупателем услуг. Договор купли-продажи считается заключенным в момент оплаты за услуги.</p>

<p>3.4. Информация, размещенная на сайте lightvpn.ru, является общедоступной, если иное не установлено настоящим Договором.</p>

<p>3.5. Продавец не несет ответственности за содержание и достоверность информации, предоставленной Покупателем при оформлении заказа.</p>

<p>3.6. Оформляя заказ на услуги, Покупатель тем самым выражает свое согласие на получение информации об услугах lightvpn.ru по электронной почте и/или посредством SMS.</p>

<h3>СТАТУС ПОКУПАТЕЛЯ</h3>

<p>4.1. Покупателем является лицо, самостоятельно оформившее заказ на сайте lightvpn.ru на условиях настоящего Договора.</p>

<p>4.2. Покупатель несет ответственность за достоверность предоставленной при оформлении заказа информации.</p>

<p>4.3. Оформление Покупателем заказа на сайте lightvpn.ru означает согласие Покупателя с условиями настоящего Договора.</p>

<p>4.4. Оформление Покупателем заказа осуществляется посредством нажатия кнопки «Купить».</p>

<h3>ПОРЯДОК ОФОРМЛЕНИЯ ЗАКАЗА</h3>

<p>5.1. При оформлении заказа на сайте Покупатель обязан предоставить для платежной системы информацию: адрес электронной почты, ФИО.</p>

<p>5.2.Продавец не редактирует информацию о Покупателе.</p>

<p>5.3. После завершения процесса оформления заказа, Покупатель получает доступ к выбранным услугам согласно тарифному плану через 30-60 минут.</p>

<p>5.4. Способ оплаты и тарифный план Покупатель выбирает при оформлении заказа самостоятельно из предложенных Продавцом. Покупатель обязан оплатить тарифный план в соответствии с выбранным способом.</p>

<h3>НА НАШИХ СЕРВЕРАХ ЗАПРЕЩЕНЫ</h3>

<p>6.1. Мошенничество, взломы, оскорбления угрозы и клевета.</p>

<p>6.2. Подбор паролей (брутфорс), сканирование и уязвимость портов.</p>

<p>6.3. Создание фишинговых сайтов.</p>

<p>6.4. Спам (включая в себя спам на форумах, сайтах, блогах) любая активность которая может привести к попаданию IP адреса сервера в блек листы (BlockList.de, SpamHaus, StopForumSpam, SpamCop и др.).</p>

<p>6.5. Распространение вредоносных программ (вирусов, троянов и все что может влиять на работу ПО).</p>

<p>6.6. Взлом сайтов и поиск их уязвимостей (включая sql-inj).</p>

<p>6.7. Нарушение законов страны в которой расположен сервер к которому Вы подключаетесь.</p>

<p>6.8. Совершая противоправные действия, Вы несете полную личную, административную и уголовную ответственность. За все действия и их последствия при использовании нашего сервиса несёт пользователь.</p>

<p>6.9. Производить самостоятельно и разрешать другим пользователям осуществлять рассылку электронных писем (спам) без согласия на то со стороны получателя. При этом понятие «спам» определяется общеизвестными «нормами пользования сетью Интернет», размещенными в сети Интернет и являющимися обычаем делового оборота.</p>

<p>6.10. Производить рассылку спама через сторонние серверы с указанием сайта, размещаемого у Провайдера (пассивный спам).</p>

<p>6.11. Размещать рекламные или другие объявления (ссылки) на сайтах и форумах, правилами которых данные действия запрещены.</p>

<p>6.12. Размещать, передавать любую информацию или программное обеспечение, которое содержит в себе вирусы или другие вредоносные компоненты, способные нанести вред программному обеспечению третьих лиц.</p>

<p>6.13. Размещать и/или распространять любую информацию, распространение которой запрещено законодательством Российской Федерации или других стран.</p>

<p>6.14. Копировать, размещать и/или распространять материалы (программное обеспечение, музыкальные или видео файлы и пр.), полученные с нарушением действующего законодательства РФ, или материалы, которые полностью или частично защищены авторскими или смежными правами, без письменного разрешения автора/правообладателя размещаемого материала.</p>

<p>6.15. Размещать и/или распространять материалы порнографического характера, схемы обмана и другую подобную информацию.</p>

<p>6.17. Использовать torrent в любом виде.</p>

<p>6.18. Производить рекламу товаров, услуг или других продуктов, распространение которых запрещено или ограничено действующим законодательством РФ.</p>

<p>6.19. Размещать и/или распространять информацию о третьих лицах, которая не соответствует действительности, либо оскорбляет честь, достоинство, деловую репутацию третьих лиц, как физических, так и юридических.</p>

<p>6.20. Размещать и/или распространять информацию, пропагандирующую насилие или экстремизм, разжигающую расовую, национальную или религиозную вражду.</p>

<p>6.21. Обрабатывать персональные данные третьих лиц без согласия на то субъектов персональных данных и при отсутствии иных оснований для их обработки.</p>

<p>6.22. Размещать на любых форумах сообщения, которые не соответствуют тематике данного форума.</p>

<p>6.23. Использовать фальсифицированный ip-адрес при размещении или передаче информации в Интернет. Производить сканирование узлов и элементов сети Интернет на предмет обнаружения открытых портов и т.п. без письменного согласия владельца данного узла.</p>

<p>6.24. Использовать несуществующие или поддельные обратные адреса электронной почты при отправке электронных писем.</p>

<p>6.25 Производить действия, которые направлены на нарушение стандартного функционирования любого оборудования в сети Интернет. Чрезмерно перегружать оборудование третьих лиц, из-за чего будет затруднен доступ к данному оборудованию.</p>

<p>6.26 Производить попытки несанкционированного доступа к собственным ресурсам Провайдера, а также к ресурсам сети Интернет, которые принадлежат третьим лицам, без письменного согласия последних.</p>

<p>6.27. Использовать Услуги для предоставления массовых сервисов (например, публичный почтовый сервис и т.п.)</p>

<p>6.28. Использовать Услуги Провайдера в незаконных целях, в том числе, для ведения деятельности с нарушением действующего законодательства.</p>

<p>На момент публикации (10 ИЮНЯ 2020 года) Вы автоматически принимаете правила сервиса при нажатии кнопки («Купить»), а так же обязуетесь соблюдать регламент пользования наших услуг.</p>
	</div></body></html>